@using AncientCivilizations.Web.Models.Administration

<h2>Civilizations</h2>

@(Html.CustomGrid<CivilizationViewModel>("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Description);
          cols.Bound(pr => pr.CreatedOn).Format(Globals.TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(Globals.TimeFormat);
          cols.Command(com => { com.Edit(); com.Destroy(); }).Width(190);
      })
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .ToolBar(toolbar => toolbar.Create())
      .DataSource(data => data.Ajax()
                            .Model(m => m.Id(u => u.Id))
                            .Read(read => read.Action("Read", Controllers.Civilizations))
                            .Create(create => create.Action("Create", Controllers.Civilizations))
                            .Update(update => update.Action("Update", Controllers.Civilizations))
                            .Destroy(destroy => destroy.Action("Destroy", Controllers.Civilizations))))