
@{
    ViewBag.Title = "Index";
}

<h2>Contribute</h2>
@Html.ActionLink("Article", "Create", "Articles", new { area = "Contribution" }, null)
@Html.ActionLink("Definiton", "Index", "Definitons", new { area = "Contribution" }, null)
@Html.ActionLink("Image", "Index", "Images", new { area = "Contribution" }, null)
@Html.ActionLink("Video", "Index", "Videos", new { area = "Contribution" }, null)

