@model AncientCivilizations.Web.Models.Public.UserProfileViewModel

@{
    Layout = null;
    var base64 = Convert.ToBase64String(Model.Avatar);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="row">
    <h2 class="menu-header">Biography</h2>
</div>
<div class="row">
    <div class="col-md-3 nopadding">
        <img src="@imgSrc" class="user-image-large" />
    </div>
    <div class="col-md-9 nopadding">
        <p id="user-biography">
            @Model.Biography
        </p>
    </div>
</div>

<div class="row">
    <h2 class="menu-header">Contributions</h2>
    @Ajax.ActionLink("ARTICLES", "_UserProfileArticleContributionsPartial", new { id = Model.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "ajax-container",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace
                        }, new { @class = "btn btn-navigation btn-user-contributions col-md-3" })
    @Ajax.ActionLink("PICTURES", "_UserProfilePictureContributionsPartial", new { id = Model.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "ajax-container",
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace
                        }, new { @class = "btn btn-navigation btn-user-contributions col-md-3" })
</div>

<div class="row contributions-container" id="ajax-container">

</div>
