@model AncientCivilizations.Web.Models.Public.UserProfileViewModel

@{
    Layout = null;
}

<div class="row">
    <h2>User Control Panel</h2>
</div>
<div>
    @using (Html.BeginForm("UpdateUserProfile", Controllers.UserProfile, new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()
        
        @Html.EditorForModel("EditUserProfile")

        <div class="navbar-fixed-bottom bottom-bar">
            <input type="submit" value="SAVE CHANGES" class="btn text-center btn-bottom-bar">
        </div>
    }
</div>
