@using AncientCivilizations.Web.Areas.Administration.ViewModels.Content
@using AncientCivilizations.Web.Common.HtmlHelperExtensions
@{
    ViewBag.Title = "Locations";
    const string ControllerName = "Locations";
    const string TimeFormat = "{0:dd/MM/yyyy HH:mm}";
}

<h2>Locations</h2>

@(Html.CustomGrid<LocationViewModel>("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Description);
          cols.Bound(pr => pr.CreatedOn).Format(TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(TimeFormat);
          cols.Command(com => com.Edit());
          cols.Command(com => com.Destroy());
      })
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .ToolBar(toolbar => toolbar.Create())
      .DataSource(data => data.Ajax()
                              .Model(m => m.Id(u => u.Id))
                              .Read(read => read.Action("Read", ControllerName))
                              .Create(create => create.Action("Create", ControllerName))
                              .Update(update => update.Action("Update", ControllerName))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))