@using AncientCivilizations.Web.Models.Administration

<h2>Locations</h2>

@(Html.CustomGrid<LocationViewModel>("grid", Controllers.Locations, true, m => { m.Id(u => u.Id); })
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Id).Hidden();
        cols.Bound(pr => pr.Name);
        cols.Bound(pr => pr.Description);
        cols.Bound(pr => pr.CreatedOn).Format(Common.TimeFormat);
        cols.Bound(pr => pr.ModifiedOn).Format(Common.TimeFormat);

        cols.Command(com => { com.Edit(); com.Destroy(); }).Width(190);
    }))