@model IEnumerable<AncientCivilizations.Web.Models.Contribution.ContributePictureViewModel>

<div class="row">
    <div id="gallery-container">
        @foreach (var item in Model)
        {
            <div class="pictures-container">
                <a>
                    <img class="gallery-picture select-image" data-id="@item.Id" data-path="@item.Url" src="@Url.Content("~/Content/Pictures/" + @item.Url)" />
                </a>
            </div>
        }
    </div>
</div>

<script>
    function onClose() {
        $("#btn-search").show();
    }

    $(document).ready(function () {
        $(".select-image").bind("click", function () {
            var id = $(this).attr("data-id"),
                path = $(this).attr("data-path"),
                template = kendo.template($("#image-template").html());

            $("#article-editor").data("kendoEditor")
                                .exec("insertHtml", { value: template({ id: id, path: path }) });

            if ($("#article-header-image-path").val() == "") {
                $("#article-header-image-path").val(path);
            }

            $("#select-image").data("kendoWindow").close();
        });
    });
</script>

<script type="text/x-kendo-template" id="image-template">
    <a href='Pictures/DetailedView/#= id#'><img width="300" src='/Content/Pictures/#= path#' /></a>
</script>