@model AncientCivilizations.Web.Models.Contribution.ContributeArticleViewModel

<h2>Create new article</h2>

@using (Html.BeginForm("Create", Controllers.Articles))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_ArticleFormPartial")

    <div class="navbar-fixed-bottom bottom-bar">
        <input type="submit" value="CREATE" class="btn text-center btn-bottom-bar">
    </div>
}


