@model AncientCivilizations.Web.Models.Contribution.ContributeArticleViewModel

<div class="container">
    <div class="row">
        <h2>Create new article</h2>
    </div>
    @using (Html.BeginForm("Create", Controllers.Articles))
    {
        @Html.Partial("_ArticleFormPartial")
        <div class="row">
            <input type="submit" value="Create" class="btn btn-default">
        </div>
    }
</div>

