@model AncientCivilizations.Web.Models.Contribution.ContributeArticleViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="row">
        <h2>Create new article</h2>
    </div>
    @using (Html.BeginForm("Edit", "Articles", FormMethod.Post))
    {
        @Html.Partial("_ArticleFormPartial")
        <div class="row">
            <input type="submit" value="Save Changes" class="btn btn-default">
        </div>
    }
</div>



