@model AncientCivilizations.Web.Models.Contribution.ContributeArticleViewModel

<div class="container">
    <div class="row">
        <h2>Create new article</h2>
    </div>
    @using (Html.BeginForm("Edit", Controllers.Articles, FormMethod.Post))
    {
        @Html.Partial("_ArticleFormPartial")
        <div class="placeholder">

        </div>
        <div class="navbar-fixed-bottom bottom-bar">
            <input type="submit" value="SAVE CHANGES" class="btn text-center btn-bottom-bar">
        </div>
    }
</div>



