@model AncientCivilizations.Web.Models.Public.ArticleViewModel

<h1 class="border-bottom">
    @Model.Title
</h1>
<div class="row">
    <div class="col-md-9">
        <div class="detailed-article-user-image">
            @Html.DisplayFor(m => @Model, "ArticleCreatorAndDate")
        </div>
        <div class="article-content">
            @Html.Raw(Model.Content)
        </div>
        <div class="detailed-article-about-author">
            <h3>About The Author</h3>
        </div>
    </div>

    @section rightPanel{
        <div class="col-md-3"></div>
    }
</div>

