@model AncientCivilizations.Web.Models.Public.ArticleViewModel

<div class="col-md-8">
    <h1 class="border-bottom">
        @Model.Title
    </h1>
    <h2>
        Article
    </h2>

    <div class="detailed-article-user-image">
        @Html.DisplayFor(m => @Model, "ArticleCreatorAndDate")


    </div>
    @Html.Raw(Model.Content)
</div>

@section rightPanel{
    <div class="col-md-4">Might interest you</div>
}
