<div class="map-container">
    <img class="map" src="/Content/Pictures/world.jpg" />
    <div class="map-points">
        @Html.ActionLink("o", "All", null, new { @class = "map-point"})
    </div>
</div>

