@using AncientCivilizations.Web.Models.Administration

<h2>Pictures</h2>

@(Html.CustomGrid<PictureViewModel>("grid", Controllers.Pictures, false, m => { m.Id(u => u.Id); }, true)
    .Columns(cols =>
    {
        cols.Bound(pr => pr.Id).Hidden();
        cols.Template(pr => pr.Url).Title("Picture")
                .ClientTemplate("<a href='" +
                        Url.Action("Detailed", Controllers.Pictures, new { area = Areas.Default }) +
                        "/#= Id #'><img width=200 src='/Content/Pictures/#= Url #' /></a>");
        cols.Bound(pr => pr.Title);
        cols.Bound(pr => pr.Description).Hidden();
        cols.Template(pr => pr.ContributorFullName).Title("Contributed by")
                .ClientTemplate("<a href='/UserProfile/Index/#= ContributorId #'>#= ContributorFullName #</a>");
        cols.Bound(pr => pr.CreatedOn).Format(Common.TimeFormat);
        cols.Bound(pr => pr.ModifiedOn).Format(Common.TimeFormat);
        cols.Bound(pr => pr.CategoryName);

        cols.Command(com => { com.Edit(); com.Destroy(); }).Width(190);
    })
    .Editable(edit => edit.Mode(GridEditMode.PopUp).TemplateName("PicturesEditor")))
