@model IEnumerable<AncientCivilizations.Web.Models.Public.ArticleViewModel>

@{
    foreach (var item in Model)
    {
        <div class="article-item-container">
            <div class="row home-article-header">
                <div class="col-md-3">
                    <img src="/Content/Pictures/@item.HeaderImagePath" class="home-article-header-img" alt="Alternate Text" />
                </div>
                <h3 class="col-md-9">
                    @Html.ActionLink(item.Title, "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, new { @class = "" })
                </h3>
            </div>
            <div class="row home-article-user-image">
                <div>
                    @Html.DisplayFor(m => item, "ArticleCreatorAndDate")
                </div>
            </div>
            <div class="row">
                <div>
                    <div id="article-content">@Html.Raw(item.Content)</div>
                    @Html.ActionLink("[Read More]", "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, new { @class = "pull-right" })
                </div>
            </div>
        </div>
    }
}
