@model IEnumerable<AncientCivilizations.Web.Models.Public.ArticleViewModel>

@{
    foreach (var item in Model)
    {
        <div class="article-item-container">
            <div class="row home-article-header">
                <div class="col-md-6">
                    <img src="/Content/Pictures/@item.HeaderImagePath" class="home-article-header-img" alt="Alternate Text" />
                </div>
                <div class="col-md-6 nopadding">
                    <h2 class="text-center">
                        @Html.ActionLink(item.Title, "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, new { @class = "" })
                    </h2>
                    <div>
                        <div id="article-content">@Html.Raw(item.Content)</div>
                        @Html.ActionLink("read more...", "Detailed", Controllers.Articles, new { id = item.Id, area = Areas.Default }, new { @class = "pull-right a-more" })
                    </div>
                </div>
            </div>
        </div>
    }
}
