@model System.Web.Mvc.HandleErrorInfo

<div class="text-center">
    <h2>404 Error</h2>
    <h2>Sorry, something went wrong here... :-(</h2>
    <p>
        We couldn't find the page you were looking for.
        Maybe we deleted this page, or maybe the link you followed is broken.
    </p>
</div>