@using AncientCivilizations.Web.Models.Administration

<h2>Users</h2>

@(Html.CustomGrid<UserViewModel>(Controllers.Users, m => m.Id)
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Template(pr => pr.FullName).Title("Full Name")
              .ClientTemplate("<a href='" +
                                Url.Action("UserProfile", Controllers.Account, new { area = Areas.Default }, null) +
                                "/#= Id #'>" +
                                " #= FullName #" +
                                "</a>");
          cols.Bound(pr => pr.Email);
          cols.Bound(pr => pr.CreatedOn).Format(Globals.TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(Globals.TimeFormat);

          cols.Command(commands =>
          {
              commands.Edit();
              commands.Destroy();
          }).Width(185);
      })
      .Editable(edit => edit.Mode(GridEditMode.PopUp)))
