@using AncientCivilizations.Web.Models.Administration

<h2>Categories</h2>

@(Html.CustomGrid<CategoryViewModel>(Controllers.Categories, m => m.Id)
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Name);
          cols.Bound(pr => pr.Description);
          cols.Bound(pr => pr.CreatedOn).Format(Globals.TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(Globals.TimeFormat);
          cols.Command(com => com.Edit());
          cols.Command(com => com.Destroy());
      })
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .ToolBar(toolbar => toolbar.Create()))
