@using AncientCivilizations.Web.Areas.Administration.ViewModels.Content
@{
    ViewBag.Title = "Articles";
    const string ControllerName = "Articles";
    const string TimeFormat = "{0:dd/MM/yyyy HH:mm}";
}

<h2>Articles</h2>

@(Html.Kendo()
      .Grid<ArticlesViewModel>()
      .Name("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Title);
          cols.Bound(pr => pr.Content).Hidden();
          cols.Bound(pr => pr.CreatedOn).Format(TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(TimeFormat);
          cols.Bound(pr => pr.IsApproved);
          cols.Template(pr => pr.IsApproved)
              .ClientTemplate("#if(!IsApproved){#" +
                              "<a class='k-button k-button-icontext' href='" +
                              Url.Action("ApproveArticle", "Articles") +
                              "/#= Id #'" +
                              "><span class='k-icon k-add'></span>Approve</a>" +
                              "#} #").Width(123);
          cols.Command(commands =>
          {
              commands.Edit();
              commands.Destroy();
          }).Width(185);
      })
      .ColumnMenu()
      .Pageable(p => p.Refresh(true))
      .Sortable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .DataSource(data => data.Ajax()
                              .Model(m => m.Id(u => u.Id))
                              .Read(read => read.Action("Read", ControllerName))
                              .Update(update => update.Action("Update", ControllerName))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))