@using AncientCivilizations.Web.Areas.Administration.ViewModels.Content
@{
    ViewBag.Title = "Articles";
    const string ControllerName = "Articles";
    const string TimeFormat = "{0:dd/MM/yyyy HH:mm}";
}

<h2>Articles</h2>

@(Html.Kendo()
      .Grid<ArticlesViewModel>()
      .Name("grid")
      .Columns(cols =>
      {
          cols.Bound(pr => pr.Id).Hidden();
          cols.Bound(pr => pr.Title);
          cols.Bound(pr => pr.Content);
          cols.Bound(pr => pr.CreatedOn).Format(TimeFormat);
          cols.Bound(pr => pr.ModifiedOn).Format(TimeFormat);
          cols.Command(com => com.Edit());
          cols.Command(com => com.Destroy());
      })
      .ColumnMenu()
      .Pageable(p => p.Refresh(true))
      .Sortable()
      .Filterable()
      .Editable(edit => edit.Mode(GridEditMode.PopUp))
      .DataSource(data => data.Ajax()
                              .Model(m => m.Id(u => u.Id))
                              .Read(read => read.Action("Read", ControllerName))
                              .Update(update => update.Action("Update", ControllerName))
                              .Destroy(destroy => destroy.Action("Destroy", ControllerName))))

