<p>
    We're a small non-profit organisation dedicated to giving highest-quality history content to the world's history enthusiasts, teachers, and students for free.

    Ancient History Encyclopedia is the global leader in ancient history content online, boasting the highest number of monthly visitors of any dedicated website.
</p>
