@section leftPanel{
    <div id="about-container" class="col-md-2">
        @Html.Partial("_AboutPartial")
    </div>
}

<div id="latest-articles-container" class="col-md-7">
    @Html.Partial("_LatestArticlesPartial")
</div>

@section rightPanel{
    <div id="latest-images-container" class="col-md-3">
        @Html.Partial("_FeaturedPicturesPartial")
    </div>
}