@model AncientCivilizations.Web.Models.Public.AllContentViewModel

@section leftPanel{
    <div id="about-container" class="col-md-2">
        <h2 class="section-header">About Us</h2>
        @Html.Partial("_AboutPartial")
    </div>
}

<div id="latest-articles-container" class="col-md-7">
    <h2 class="section-header">Latest Articles</h2>
    @Html.Partial("_ArticlesPreviewPartial", Model.Articles)
</div>

@section rightPanel{
    <div id="latest-images-container" class="col-md-3">
        <h2 class="section-header">Latest Images</h2>
        @Html.Partial("_LatestPicturesPartial")
    </div>
}