@using Microsoft.AspNet.Identity
@model AncientCivilizations.Web.ViewModels.Profile.UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
}

<div class="row">
    <h1 class="border-bottom">@Model.FullName</h1>
</div>
<div class="row">
    <div class="col-md-3">
        @Ajax.ActionLink("Profile", "_UserProfileInfoPartial", new { id = Model.Id },
            new AjaxOptions
            {
                UpdateTargetId = "profile-container",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary" })

        @if (User.Identity.GetUserId() == Model.Id)
        {
            <div>
                @Ajax.ActionLink("Settings", "_UserProfileSettingsPartial", new { id = Model.Id },
            new AjaxOptions
            {
                UpdateTargetId = "profile-container",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
    <div class="col-md-9" id="profile-container">
        @Html.Partial("_UserProfileInfoPartial")
    </div>
</div>
